$main-white: #ffffff;
$main-black: #111111;
$main-black-deep: #000000;
$main-gray: #777777;
$main-gray-dark: #666666;
$main-gray-light: #999999;
$gray-light-bg: #f9f9f9;
$gray-light-border: #bfbfbf;
$gray-input-border: #e8e8e8;
$main-gold: #dcb14a;
$color-gray-placeholder: #e5e7eb;
$color-red-sale-icon: #f14705;
$color-blue-dicount: #98d6ca;
$nav-bg: #f4f5f7;
$color-bg-full-transparent: rgba(1, 1, 1, 0);
$color-bg-half-transparent: rgba(1, 1, 1, 0.5);
$gradient-bg-slider: linear-gradient(0deg, #ccc 1em, transparent 0);

$base-font-family: "Roboto", sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;

$h1-font-size: 36px;
$nav-font-size: 14px;
$price-font-size: 18px;
$pagination-font-size: 12px;

$breakpoint-mobile: 320px;
$breakpoint-small-tablet: 450px;
$breakpoint-tablet: 720px;
$breakpoint-desc: 1200px;

$card-logo: url("/assets/img/nops-icon.webp");
$card-aexpres: url("/assets/img/aExpress-icon.svg");
$card-visa: url("/assets/img/visa-icon.png");
$card-mc: url("/assets/img/mc-icon.svg");
$card-up: url("/assets/img/up-icon.png");
$search-icon: url("/assets/svg/search.svg");
