.filters-container {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(1,1,1,0);
    transition: 300ms;
}

.filters-container_show {
    z-index: 1;
    background-color: rgba(1,1,1,0.5);
}

.filters-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    column-gap: 20px;
    padding-top: 20px;
    z-index: 2;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100vh;
    background-color: $main-white;
    transition: 500ms;
}

.filters-block_show {
    left: 0;
}

.filters-btns-block {
    display: flex;
    flex-direction: row;
    gap: 20px;
    &__reset-btn,
    &__copy-link-btn {
        border: 0 solid;
        width: 120px;
        height: 40px;
        font-weight: bold;
        font-size: $base-font-size;
        background-color: $main-black-deep;
        color: $main-white;
        transition: 300ms;
        cursor: pointer;
    }
    &__reset-btn:hover,
    &__copy-link-btn:hover {
        background-color: $main-gold;
    }
}
