@import "./_colors.scss";

.page-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 130px;
}

.gh-anchor-block {
    display: flex;
    flex-direction: row;
    gap: 20px;
    &__anchor {
        display: flex;
        align-items: center;
        color: $main-black;
        text-decoration: none;
        column-gap: 5px;
        transition: 300ms;
    }
    .github-icon {
        width: 20px;
        height: 20px;
        fill: $main-black;
        transition: 300ms;
    }
    &__anchor:hover,
    &__anchor:hover .github-icon {
        fill: $main-gold;
        color: $main-gold;
    }
}

.footer-year {
    text-align: center;
}

.footer-rs-anchor {
    width: 120px;
    &__icon {
        fill: $main-black;
        transition: 300ms;
        width: 120px;
        max-height: 50px;
    }
    &__icon:hover {
        fill: $main-gold;
    }
}

@media (min-width: $breakpoint-small-tablet) {
    .page-footer {
        flex-direction: row;
        height: 80px;
    }
    .gh-anchor-block {
        flex-direction: column;
        gap: 6px;
    }
}
