@import './_colors.scss';

.page-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}

.store-logo {
    font-weight: bold;
    font-size: $h1-font-size;
    user-select: none;
}

.search-block {
    display: flex;
    flex-direction: row;
    align-content: center;
    display: none;
    height: 40px;
    border-bottom: 1px solid $main-gray-dark;
    &__input {
        outline: none;
        border: none;
    }
    &__icon {
        width: 1.5rem;
        height: 1.5rem;
        align-self: center;
        cursor: pointer;
    }
}

.cart-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 8px;

    &__total-price {
        display: none;
        color: $main-gray-light;
        font-size: $nav-font-size;
    }

    .cart-icon__svg,
    .cart-block__filters-icon {
        stroke: $main-black;
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;
        transition: 300ms;
    }

    .cart-block__filters-icon:hover {
        stroke: $main-gold;
    }

    &__cart-icon {
        position: relative;
        cursor: pointer;

        .cart-icon__count {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            bottom: -6px;
            right: -6px;
            background-color: $main-gold;
            width: 1.1rem;
            height: 1.1rem;
            border-radius: 50%;
            font-size: $pagination-font-size;
            user-select: none;
            transition: 300ms;
        }
    }

    &__cart-icon:hover
    .cart-icon__svg {
        stroke: $main-gold;
    }

    &__cart-icon:hover
    .cart-icon__count {
        color: $main-white;
    }
}

@media (min-width: $breakpoint-small-tablet) {
    .cart-block__total-price {
        display: block;
    }
}

@media (min-width: $breakpoint-tablet) {
    .search-block {
        display: flex;
    }
}

