@import "./blocks/reset";
@import "./blocks/header";
@import "./blocks/colors";
@import "./blocks/footer";
@import "./blocks/main";
@import "./blocks/details";
@import "./blocks/page404";
@import "./blocks/filters";
@import "./blocks//mainBar";

html {
    font-family: $base-font-family;
    color: $main-black;
    overflow-x: hidden;
}

.html_scroll-lock {
    overflow: hidden;
}

.page-wrapper {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
}
#page-menu {
    margin: 40px 0px;
    font-size: 2rem;
    font-weight: 500;
    a {
        transition: all 0.2s;
        color: $main-black-deep;
        &:hover {
            color: $main-gold;
        }
    }
}
main {
    min-height: calc(100vh-230px);
}
