@import './blocks/header';
@import './blocks/colors';
@import './blocks/footer';

html {
    font-family: $base-font-family;
    color: $main-black;
}

.page-wrapper {
    margin: 0 auto;
    max-width: 1200px;
}

main {
    min-height: 60vh;
}
